/* Elements */
body {
  font-family: "Helvetica Neue", sans-serif;

}

/* Text */

/*t-COLOR-WEIGHT*/
.t-bla-l {
  font-size: 1em;
  color: #222;
  font-weight: 300;
  text-decoration: none;
}

.t-bla-b {
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
}

.t-blu-l {
  font-size: 1em;
  color: #0066ff;
  font-weight: 300;
  text-decoration: none;
}

.t-blu-b {
  font-size: 1em;
  color: #0066ff;
  font-weight: 500;
  text-decoration: none;
}

.t-red-l {
  font-size: 1em;
  color: #ff3a2d;
  font-weight: 300;
  text-decoration: none;
}

.t-red-b {
  font-size: 1em;
  color: #ff3a2d;
  font-weight: 500;
  text-decoration: none;
}

/* Page */
#page {
  margin: 50px 0px 0px 300px;
  height: 100%;
}

/* Login */
#login-buttons {
  margin-top: 20px;
}

/* Box */
.box {
  border: 1px solid #ccc;
  height: 190px; /* this breaks if link is longer than 1 line */
  width: 190px;
  padding: 10px 0px 0px 10px;
}

.box a {
  display: block;
  padding: 13px 0px;
  border-top: 1px solid #ebebeb;
}

.box h1 {
  color: #222;
  margin: 0;
}

.box h2 {
  margin: 0;
  padding-bottom: 16px
}

/* Box Edit */
.box-edit {
  width: 200px;
  margin: 0 0 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
}

input {
  display: block;
  padding: 10px;
  margin: 10px;
}

/* Navigation */
#nav {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100px;
  padding: 50px 50px 100% 50px;
  border-right: 1px solid #eee;
}

#nav > h1 {
  padding-bottom: 20px;
  margin: 0px 0px 10px 0px;
}

#nav > a {
  display: block;
  padding: 10px 0px;
}

/* Buttons */

/*

ios blue link is #0066ff
ios gray text is #8e8e93

*/





