/* Elements */
html {
  font-family: "Helvetica Neue", sans-serif;

}

p, h1, h2, h3, h4, h5, h6, ol, ul, div, input, a {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}

input[type=text] {
  display: block;
  padding: 15px;
  margin: 0 0 20px 0;
  border: 1px solid #ccc;
  font-size: 1.5em;
}

input[type=submit] {
  display: block;
}

/* Text */

.bold-text {
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
}

.blue-link {
  font-size: 1em;
  color: rgba(0,100,250,0.9);
  font-weight: 300;
  text-decoration: none;
}

.red-text {
  font-size: 1em;
  color: #ff3a2d;
  font-weight: 500;
  text-decoration: none;
}

/* Page */
#page {
  margin: 50px 0px 0px 300px;
  height: 100%;
  max-width: 680px;
}

/* Login */
#login-buttons {
  margin-top: 20px;
}

/* Index */
.index-head h1 {
  margin: 0;
}

.index-head h2 {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #eee;
}

/* Box */
.box {
  border: 1px solid #ccc;
  height: 190px; /* this breaks if link is longer than 1 line */
  width: 190px;
  padding: 10px 0 0 10px;
  margin: 0 20px 20px 0;
  display: inline-block;
  overflow: hidden;
}

.box > a {
  display: block;
  padding: 15px 0px;
  border-top: 1px solid #eee;
}

.box h1 {
  margin: 0;
}

.box h2 {
  margin: 0;
  padding-bottom: 15px
}

/* Box Edit */
.box-edit {
  float: left;
  margin: 0 60px 0 0;
}

/* Index Edit */

.index-edit input[type=text] {
  margin: 0 20px 20px 0;
  width: 170px;
  display: inline-block;
}

.index-edit input[name=name] {
  display: block;
  width: auto;
}

/* Navigation */
#nav {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100px;
  padding: 50px 50px 100% 50px;
  border-right: 1px solid #eee;
}

#nav > h1 {
  padding-bottom: 20px;
  margin: 0px 0px 10px 0px;
}

#nav > a {
  display: block;
  padding: 10px 0px;
}

/* Buttons */







