/* Elements */
body {
  font-family: "Helvetica Neue", sans-serif;
}

/* Page */
#page {
  margin: 50px 0px 0px 300px;
  height: 100%;
}

/* Login */
#login-buttons {
  margin-top: 20px;
}

/* Box */
.box {
  border: 1px solid #ccc;
  height: 200px; /* this breaks if link is longer than 1 line */
  width: 200px;
  padding: 10px 0px 0px 10px;
  margin: 100px;
}

.box a {
  display: block;
  color: #222;
  font-weight: 300;
  text-decoration: none;
  padding: 14px 0px 14px 0px;
  border-top: 1px solid #ebebeb;
}

.box h1 {
  color: #222;
  margin: 0;
  font-weight: 500;
  font-size: 1.1em;
}

.box h2 {
  margin: 0;
  color: #888;
  font-weight: 200;
  font-size: 1em;
  padding-bottom: 18px
}

/* Box Edit */
.box-edit {
  float: left;
  width: 33%;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
}

input {
  display: block;
  padding: 10px;
  margin: 10px;
}

/* Navigation */
#nav {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100px;
  padding: 50px 50px 100% 50px;
  border-right: 1px solid #eee;
}

#nav > h1 {
  font-size: 1em;
  padding-bottom: 20px;
  margin: 0px 0px 10px 0px;
  font-weight: 400;
}

#nav > a {
  display: block;
  padding: 10px 0px;
  color: black;
  font-size: 1em;
}
